<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://homeinformer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>homeinformer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>homeinformer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$homeinformer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="homeinformer_azureEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.homeinformer_azureEntities, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Models.ApplicationDbContext, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="homeinformerEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-JC78QAE;Initial Catalog=homeinformer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\homeinformerEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/homeinformer_datamodel.csdl|res://*/homeinformer_datamodel.ssdl|res://*/homeinformer_datamodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JC78QAE;initial catalog=homeinformer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="homeinformerEntities2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-JC78QAE;Initial Catalog=homeinformer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\homeinformerEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/homeinformer_datamodel.csdl|res://*/homeinformer_datamodel.ssdl|res://*/homeinformer_datamodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JC78QAE;initial catalog=homeinformer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="homeinformerEntities3" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-JC78QAE;Initial Catalog=homeinformer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\homeinformerEntities3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/homeinformer_datamodel.csdl|res://*/homeinformer_datamodel.ssdl|res://*/homeinformer_datamodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JC78QAE;initial catalog=homeinformer;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="homeinformerEntities4" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-28U6SO4;Initial Catalog=homeinformer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\homeinformerEntities4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/homeinformer_datamodel_PC.csdl|res://*/homeinformer_datamodel_PC.ssdl|res://*/homeinformer_datamodel_PC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-28U6SO4;initial catalog=homeinformer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="homeinformerEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-JC78QAE;Initial Catalog=homeinformer;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\homeinformerEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/homeinformer_datamodel.csdl|res://*/homeinformer_datamodel.ssdl|res://*/homeinformer_datamodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JC78QAE;initial catalog=homeinformer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)homeinformerEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)homeinformerEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)homeinformerEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)homeinformerEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)homeinformerEntities4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)homeinformer_azureEntities-Web.config Connection String" />
  </ItemGroup>
</Project>